@model IEnumerable<LabManagementSystem.Models.Equipment>

@{
    ViewData["Title"] = "Equipment List";
}

<h1>Equipment List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach(var item in Model){
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/img/equip.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description).</p>
                <a asp-action="" class="btn btn-primary">Book</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-primary">Delete</a>
            </div>
        </div>
    </div>
}